---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Signup } from "../components/Signup";
import Card from "../components/Card.astro";
import { ServerStatus } from "../components/ServerStatus";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <ServerStatus client:load/>
  <div class="flex justify-center p-4">
    <Signup />
  </div>
  <div class="space-y-6 p-4 md:flex md:gap-4 md:space-y-0">
    <Card
      title="Get Interview Ready"
      description="Need to brush up on your JavaScript skills for an interview? This fast paaced code kata platform will get you ready in no time."
    />
    <Card
      title="Review AI Slop Faster"
      description="Spending too much time reading AI generated code? This platform will teach you ins and outs of JavaScript so you know when AI has made a mistake."
    />
    <Card
      title="Code Faster"
      description="Build muscle memory so you can code faster without draining your metal energy."
    />
  </div>
</Layout>
